<a href="https://colab.research.google.com/github/ben-wycliff/AI-tutorial/blob/master/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple Linear Regression

## Download dataset

In [1]:
!wget https://raw.githubusercontent.com/ben-wycliff/AI-tutorial/master/datasets/Real%20estate.csv

--2021-12-03 12:32:14--  https://raw.githubusercontent.com/ben-wycliff/AI-tutorial/master/datasets/Real%20estate.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21968 (21K) [text/plain]
Saving to: ‘Real estate.csv’

Real estate.csv     100%[===================>]  21.45K  --.-KB/s    in 0.001s

2021-12-03 12:32:14 (15.1 MB/s) - ‘Real estate.csv’ saved [21968/21968]

## Importing libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Load data

In [3]:
df = pd.read_csv("/content/Real estate.csv")

In [4]:
df.head()

   No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0   1             2012.917  ...     121.54024                        37.9
1   2             2012.917  ...     121.53951                        42.2
2   3             2013.583  ...     121.54391                        47.3
3   4             2013.500  ...     121.54391                        54.8
4   5             2012.833  ...     121.54245                        43.1

[5 rows x 8 columns]

In [5]:
df.describe()

               No  ...  Y house price of unit area
count  414.000000  ...                  414.000000
mean   207.500000  ...                   37.980193
std    119.655756  ...                   13.606488
min      1.000000  ...                    7.600000
25%    104.250000  ...                   27.700000
50%    207.500000  ...                   38.450000
75%    310.750000  ...                   46.600000
max    414.000000  ...                  117.500000

[8 rows x 8 columns]

## Split dataset

In [6]:
X = df.loc[:, df.columns != 'Y house price of unit area'].values
y = df['Y house price of unit area'].values

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=20)



## Train multiple linear regression

$y = b_0 + b_1x + b_2x + ... + b_nx$

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

## Predicting on test set

In [9]:
ypred = model.predict(X_test)

## Model evaluation

In [10]:
from sklearn.metrics import mean_squared_error, r2_score

In [11]:
r2_score(y_test, ypred)

0.6503658553767557

In [12]:
mean_squared_error(y_test, ypred)

49.82768568530129